html {
  scroll-behavior: smooth;
}

body {
  background-color: #1b1b1b;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-right: 100px;
  margin-left: 100px;

}

h1 {
  color: hsla(0,0%,100%,.9);
  text-align: center;
}

h2 {
  color: hsla(0,0%,100%,.9);
}

h3 {
  color: hsla(0,0%,100%,.9);
}

p {
  color: hsla(0,0%,100%,.6);
  font-size: medium;
}

ul {

  font-size: large;

}

li {

  color: hsla(0,0%,100%,.9);

}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  
}

a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: green;
  text-decoration: underline;
}


/* stationary navigation bar */

#topnav {
  background-color: #171941; /* Black background color */
  /* position: fixed; Make it stick/fixed */
  overflow: hidden;
}

/* Style the topnav links */
#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
#topnav a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}

#topnav a.split_two {
  /* float: left; */
  background-color: #04AA6D;
  color: white;
}


.rarity-5 {
  background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff);
}

.rarity-4 {
  background-color: #ee9;
  border-color: #ee9;
}

.rarity-3 {
  background-color: #c4adff;
  border-color: #c4adff;
}

.rarity-2 {
  background-color: #9fe8ff;
}

.border-radius-0 {
  border-radius: 0;
}

div {
  display: block;
}

.icon {
  overflow: hidden;
  margin: 6px auto;
  width: 50px;
  padding: 2px;
  box-shadow: 0 10px 25px 0 #000;
  height: auto;
}

img {
  max-width: 100%;
  border-radius: 0.2857rem;
  vertical-align: middle;
  border-style: none;
}

th {
  color: hsla(0,0%,100%,.9);
  border: 1px solid grey;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
  word-wrap: break-word;
}

td {
  color: hsla(0,0%,100%,.6);
  border: 1px solid grey;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
  word-wrap: break-word;
}

table {
  border: 1px solid grey;
  padding: 10px;
  min-height: 90px;
  border-collapse: collapse;
  width: 60%;
}
