html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f1e1e;
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

body hr {
  min-width: 1384px;
}

body.not_max_hr hr {
  min-width: 900px;
}

h1 {
  color: hsla(0,0%,100%,.9);
  text-align: center;
}

h2 {
  color: hsla(0,0%,100%,.9);
}

h3 {
  color: hsla(0,0%,100%,.9);
}

h4 {
  /* color: hsla(0,0%,100%,.9); */
  color: hsla(0,0%,100%,.6);
  text-decoration: underline;
}

p {
  color: hsla(0,0%,100%,.6);
  font-size: medium;
}

ul {

  font-size: large;

}

li {

  color: hsla(0,0%,100%,.9);

}

b {
  color: hsla(0,0%,100%,.9);
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a.in_hover:link {
  color: #0047ab;
  background-color: transparent;
  text-decoration: none;
}

a.in_hover:visited {
  color: #0047ab;
  background-color: transparent;
  text-decoration: none;
}

a.in_hover:hover {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

a.in_hover:active {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

/* a.ship_name:link {
  color: #ba54f5;
  background-color: transparent;
  text-decoration: none;
}

a.ship_name:visited {
  color: #ba54f5;
  background-color: transparent;
  text-decoration: none;
}

a.ship_name:hover {
  color: #c14cca;
  background-color: transparent;
  text-decoration: underline;
}

a.ship_name:active {
  color: #c14cca;
  background-color: transparent;
  text-decoration: underline;
} */

/* stationary navigation bar */

#topnav {
  background-color: #171941; /* Black background color */
  /* position: fixed; Make it stick/fixed */
  overflow: hidden;
}

/* Style the topnav links */
#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
#topnav a:hover {
  background-color: #ddd;
  color: black;
}

#topnav a.selected {
  background-color: #ddd;
  color: black;
  text-decoration: underline;
}

/* Create a right-aligned (split) link inside the navigation bar */
#topnav a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}

#topnav a:hover.split {
  background-color: #ddd;
  color: black;
}

#topnav a.split_two {
  /* float: left; */
  background-color: #04AA6D;
  color: white;
}

#topnav a:hover.split_two {
  background-color: #ddd;
  color: black;
}

.rarity-5 {
  background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff);
}

.rarity-4 {
  background-color: #ee9;
  border-color: #ee9;
}

.rarity-3 {
  background-color: #c4adff;
  border-color: #c4adff;
}

.rarity-2 {
  background-color: #9fe8ff;
  border-color: #9fe8ff;
}

.rarity-1 {
  background-color: #cdcdcd;
  border-color: #cdcdcd;
}

.border-radius-0 {
  border-radius: 0;
}

.enlargement {
  font-size: larger;
}

div {
  display: block;
}

.icon {
  overflow: hidden;
  margin: 6px auto;
  width: 60px;
  padding: 2px;
  box-shadow: 0 10px 25px 0 #000;
  height: auto;
}

img {
  max-width: 100%;
  border-radius: 0.2857rem;
  vertical-align: middle;
  border-style: none;
}

th {
  color: hsla(0,0%,100%,.9);
  background-color: hsla(0,0%,100%,.1);
  border: 1px solid grey;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
  font-size: medium;
  word-wrap: break-word;
  overflow: hidden;
}

td {
  color: hsla(0,0%,100%,.6);
  border: 1px solid grey;
  padding: 3px;
  text-align: center;
  border-collapse: collapse;
  font-size: 14.5px;
  word-wrap: break-word;
  overflow: hidden;
}

td.mark {
  font-size: xx-large;
  font-weight: 500;
  color: black;
}

td.found {
  background-color: palegreen;
}

td.not_found {
  background-color: lightcoral;
}

td.rng {
  background-color: lemonchiffon;
}

/* td.mark:hover {
  font-weight: 850;
} */

td.found:hover {
  background-color: #52b352;
  color: black;
}

td.not_found:hover {
  color: black;
  background-color: #c75e5e;
}

td.rng:hover {
  color: black;
  background-color: rgba(199, 193, 136, 0.90);
}

td span.location {
  display: none;
}

td span.normal {
  display: inline;
}

td:hover span.location {
  display:inline;
}

td:hover span.normal {
  display:none;
}

span p {
  color:black;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2em;
}

table {
  border: 1px solid grey;
  padding: 5px;
  min-height: 90px;
  border-collapse: collapse;
  min-width: 1384px;
  width: 100%;
  table-layout: fixed;
}

table.not_max {
  min-width: 850px;
  width: 60%;
}

table.not_max_two {
  min-width: 600px;
  width: 40%;
}

th.table_header {
  background-color: hsla(0, 0%, 100%, 0.034);
  padding: 0;
  min-height: 60px;
}

.img_row::after {
  content: "";
  clear: both;
  display: table;
}

.img_column {
  float: left;
  margin: 2px;
}

:root {
  --img_width : 400px;
}

div.img_gallery {
  display: flex;
}

div.in_gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  min-width: var(--img_width);
  width: fit-content;
}

div.outside_gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  min-width: var(--img_width);
  width: 450px;
}

div.in_gallery img {
  width: 100%;
  height: auto;
}

div.outside_gallery img {
  width: 100%;
  height: auto;
}

div.in_gallery:hover {
  border: 1px solid #777;
}

div.outside_gallery:hover {
  border: 1px solid #777;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.desc p {
  font-size: 0.90em;
}

div.shipRowContainer {
  margin: 20px 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  min-width: 900px;
}

.shipRowContainer>div {
  border: 1px solid grey;
  padding: 10px;
  width: 100px;
  min-height: 90px;
}

.shipRowCell {
  flex: 0 0 auto;
  max-width: 100%;
  word-wrap: break-word;
}

.shipRowCell:hover {
  border: 1px solid #ccc;
}


/* stationary footer */

#bottomnav {
  background-color: #171941; /* Black background color */
  /* position: fixed; Make it stick/fixed */
  overflow: hidden;
}

#bottomnav div {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

/* table of contents */

.toc {
  margin-top: 1em;
  margin-bottom: 0em;
}

.toc ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0.6em;
  padding: 0;
}

.toc ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.5em;
  line-height: 130%;
}

.toc li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

.toc li {
  margin: 0px;
}

.toc li ol > li:before {
  content: counters(item, ".") " ";
}

